
  h1 {color: green;
    font-size: 5rem;
    text-align: center;
  }
  h2{color:blue;
    font-size: 4rem;
    text-align: center;
  }
  p {color:black;
    font-weight: 100;
    font-size: 3rem;
    text-align: center;
  }
